.mgt {
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from{
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.tag-icon {
  transform: translateY(-150%);
}


@media only screen and (max-width: 750px) {
  .arrow {
    width: 7vw;
    height: 7vh;
  }

  .tag-icon {
    transform: translateY(-85%);
  }

  
}

/* @media only screen and (max-width: 600px) {
  .name, .portfolio {
    font-size: 2.5vw;
  }
} */
