/* Custom style */
.header-right {
    width: calc(100% - 3.5rem);
}

.sidebar:hover {
    width: 16rem;
}

.dashboard {
    padding-top: 10vh;
}

.dash-container {
    min-height: 90vh;
}

@media only screen and (min-width: 768px) {
    .header-right {
        width: calc(100% - 16rem);
    }
}

.sortable {
    position: relative;
}

.sort-icon {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
}

.sort-icon i {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sort-icon i.bi-arrow-up.asc,
.sort-icon i.bi-arrow-down.desc {
    opacity: 1;
}
  