<section class="w-full breadcumb relative px-6 bg-gradient-to-t from-[#FFFFFF] to-[#F9E6E0]">
  <div *ngIf="libro" class="container max-w-screen-lg xl:max-w-screen-xl h-full flex items-center mx-auto font-bold">
      <span class="font-light"><a href="/home" class="hover:underline hover:text-orange-500 px-1">Inicio / </a></span>{{libro.titulo}}
  </div>
</section>
<main class="main-wrapper relative flex items-center" *ngIf="libro != undefined">
  <!-- component -->
  <section class="producto text-gray-700 body-font w-full h-full relative overflow-hidden px-6 pb-10 pt-5 lg:pt-0 lg:pb-10 xl:pb-0 bg-white">
    <div class="container grid place-items-center max-w-screen-lg xl:max-w-screen-xl h-full mx-auto">
      <article class="w-full h-full mx-auto grid grid-cols-1 lg:grid-cols-2 place-items-center justify-between align-middle">
        <div class="pb-5 lg:pb-0 flex justify-center lg:block">
          <img alt="Portada de {{libro.titulo}}" class="lg:w-3/4 xl:w-3/5 w-full h-full object-contain transition-all duration-200 hover:brightness-110 hover:drop-shadow-lg rounded-lg"
          src="../../../assets/img/{{libro.portada}}">
        </div>
        <div class="lg:w-full w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0 h-full flex flex-col justify-center">
          <h2 class="text-sm title-font text-gray-500 tracking-widest uppercase">{{libro.autor}}</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1 uppercase">{{libro.titulo}}</h1>
          <h3 class="text-sm title-font text-gray-500 tracking-widest uppercase">{{libro.saga}}</h3>
          <span class="flex items-center gap-2">
            <h4 class="text-sm title-font text-gray-500 tracking-widest uppercase">{{libro.editorial}}</h4>
            <p> · </p>
            <h4 class="text-sm title-font text-gray-500 tracking-widest uppercase">{{libro.genero}}</h4>
            <p> · </p>
            <h4 class="text-sm title-font text-gray-500 tracking-widest uppercase">{{libro.fecha_publi}}</h4>
          </span>
          <div class="flex mb-4">
            <span class="flex items-center">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-orange-500" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-orange-500" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-orange-500" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-orange-500" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-orange-500" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <span class="text-gray-600 ml-3">4 Valoraciones</span>
            </span>
            <!-- <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200">
              <a class="text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                </svg>
              </a>
              <a class="ml-2 text-gray-500">
                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                  <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
                </svg>
              </a>
            </span> -->
          </div>
          <p class="leading-relaxed font-bold">{{libro.descripcion}}</p>
          <div class="mt-4 sinopsis-con w-full max-h-44 border rounded-bl-2xl rounded-tl-2xl pl-5 py-4 pr-2 border-gray-400 overflow-y-scroll">
            <p class="">{{libro.sinopsis}}</p>
          </div>
          <!-- Divisor -->
          <!-- <div class="container w-full h-10 flex items-center mx-auto px-2">
            <hr class="dashed w-full opacity-20">
          </div>
          <p class="leading-relaxed font-light">{{libro.sinopsis}}</p> -->
          <div class="flex mt-6 items-center pb-2">
            <div class="flex justify-between w-full">
              <div class="relative flex items-center">
                <span class="mr-3">Tipo</span>
                <select (change)="alterTapa()" [(ngModel)]="selectedType" class="rounded border appearance-none border-gray-400 py-2 focus:outline-none focus:border-orange-500 text-base pl-3 pr-10">
                  <option *ngIf="libro.tipo.includes('tapadura')" [ngValue]="'tapadura'" [selected]="libro.tipo === 'tapadura'">Tapa dura</option>
                  <option *ngIf="libro.tipo.includes('tapablanda')" [ngValue]="'tapablanda'" [selected]="libro.tipo === 'tapablanda'">Tapa blanda</option>
                  <option *ngIf="libro.tipo.includes('ebook')" [ngValue]="'ebook'" [selected]="libro.tipo === 'formatodigital'">Formato digital</option>
                </select>
                <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                    <path d="M6 9l6 6 6-6"></path>
                  </svg>
                </span>
              </div>
              <div class="flex gap-2 items-center grid-cols-2 mx-2">
                <span class="text-gray-900 font-thin line-through decoration-1 text-xs">
                  {{libro.precio}} €</span>
                <span class="text-orange-500 text-2xl font-black">{{libro.oferta}} €</span>
              </div>
            </div>
          </div>
          <!-- Divisor -->
          <div class="container w-full h-5 flex items-center">
            <hr class="dashed w-full opacity-20">
          </div>
          <div class="flex pt-2">
            <span class="ml-auto w-full">
              <!-- <app-cesta-button [id]="libro.id"></app-cesta-button> -->
              <button (click)="addToCart()" #addToCartButton
                class="font-medium text-[14px] w-full flex items-center px-5 py-3 md:py-2 md:px-4 rounded-xl bg-gradient-to-r from-orange-300 to-orange-500 hover:from-orange-500 hover:to-yellow-500 relative gap-2 transition duration-200 active:scale-105 text-white shadow-glass">
                <div class="w-full flex justify-center items-center gap-2" #addToCartCon>
                  <span class="pb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" #addToCartIcon width="20" height="20" fill="currentColor" class="bi bi-bag-plus transition-all" viewBox="0 0 16 16">
                      <path #addToCartPlus class="origin-top" fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                      <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                    </svg>
                  </span>
                  <span class="text-center text-lg transition-all" #addToCartText> Añadir </span>
                </div>
                <span
                  class="animate-ping absolute right-0 top-0 w-3 h-3 rounded-full bg-gradient-to-r from-orange -400 to-orange-700"
                ></span>
              </button>
            </span>
            <!-- <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
              </svg>
            </button> -->
          </div>
        </div>
      </article>
    </div>
  </section>
</main>
