<section class="w-full breadcumb relative px-6 bg-gradient-to-t from-[#FFFFFF] to-[#F9E6E0]">
    <div class="container max-w-screen-lg xl:max-w-screen-xl h-full flex items-center mx-auto font-bold">
        <span class="font-light"><a href="/home" class="hover:underline hover:text-orange-500 px-1">Inicio / </a></span>Novedades
    </div>
</section>
<main class="main-wrapper relative">
    <section class="pb-20 hero grid items-center">
        <!-- component -->
        <div class="grid items-center h-full">
          <div class="container flex flex-col w-full h-full justify-evenly mx-auto px-6 md:px-16 xl:px-32">
            <div class="2xl:mb-5 text-center flex flex-col gap-5 md:gap-10">
              <h2 class="mt-2 text-center text-3xl sm:text-5xl md:text-5xl lg:text-7xl 2xl:text-8xl drop-shadow-lg uppercase text-gray-900 font-light hero-title">
                Los libros más vendidos
              </h2>
              <p class="text-gray-600 lg:w-10/12 lg:mx-auto intro">
                —Estos son los que más se venden, supongo que merecerá la pena leerlos, ¿no? —dijo el comerciante—.
              </p>
            </div>
            <div class="grid gap-12 transition-all duration-200 xl:w-10/12 2xl:w-full mx-auto mt-2 md:mt-10 items-start md:grid-cols-4">
              <!-- Item 1 -->
              <div class="relative space-y-4 text-center" *ngFor="let l of topSellers" [@fadeAnimation]>
                <div class="relative book transition duration-200">
                  <a [routerLink]="['/ver', l.id]" routerLinkActive="router-link-active" >
                    <img class="w-64 h-min md:w-40 lg:w-10/12 lg:h-full mx-auto transition duration-200 hover:brightness-110 hover:drop-shadow-lg object-cover cursor-pointer rounded-xl"
                  src="../../../assets/img/{{l.portada}}" alt="Carátula {{l.titulo}}" loading="lazy" />
                  </a>
                  <div class="price drop-shadow-md rounded-xl p-2 hidden md:flex flex-col gap-1 transition absolute w-full h-auto opacity-0 lg:w-10/12 bottom-0 left-1/2 transform -translate-x-1/2 translate-y-2 bg-gradient-to-t from-[#FFFFFF] to-[#F9E6E0] z-index-20 text-center">
                    <span *ngIf="l.tipo.includes('tapadura')">Tapa dura</span>
                    <span *ngIf="l.tipo.includes('tapablanda') && !l.tipo.includes('tapadura')">Tapa blanda</span>
                    <span *ngIf="l.tipo.includes('ebook')">eBook</span>
                    <div class="grid place-items-center grid-cols-2 mx-2 border-t border-gray-400">
                      <span class="text-gray-900 font-thin line-through decoration-1 text-xs">
                        {{l.precio}} €</span>
                      <span class="text-orange-500 font-black">{{l.oferta}} €</span>
                    </div>
                    <app-cesta-button [id]="l.id"></app-cesta-button>
                  </div>
                </div>
                <div>
                  <h4 class="text-2xl text-gray-900 uppercase">{{l.titulo}}</h4>
                  <span *ngIf="l.saga.length > 1" class="text-xs 2xl:text-sm text-gray-600 uppercase">({{l.saga}})</span>
                  <span class="block text-sm text-orange-500 capitalize">{{l.autor}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <!-- component -->
    <section class="py-16 pb-28 px-6 md:px-32 overflow-hidden">
      <div class="container m-auto md:px-6 space-y-8 text-gray-500 md:px-12 more-section py-10 rounded-b-3xl">
        <article class="w-3/4 lg:max-w-screen-xl lg:w-full mx-auto flex flex-col gap-5 md:px-6 md:px-12 xl:px-32 py-20 search-bg bg-center md:bg-top">
          <h2 class="text-center text-2xl text-gray-900 font-bold w-full">¿No encuentras lo que buscas?</h2>
          <form #formulario="ngForm" class="flex items-center" (ngSubmit)="buscarLibros(formulario)">
            <label for="filtro" class="sr-only">Search</label>
            <div class="relative w-full">
                <div class="absolute inset-y-0 left-0 flex items-center rounded-lg pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <input type="text" [(ngModel)]="filtro" name="filtro" id="filtro" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 focus-visible:outline-orange-400 transition-all duration-300 ease block w-full pl-10 p-2.5" placeholder="Busca libros por título, autor o saga" required>
            </div>
            <button type="submit" class="p-2.5 ml-2 text-sm font-medium text-white bg-orange-400 rounded-lg border border-orange-400 hover:bg-orange-500 transition-all duration-200 ease focus:ring-4 focus:outline-none focus:ring-orange-300">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                <span class="sr-only">Search</span>
            </button>
          </form>
        </article>
      </div>
  </section>
</main>
