<!-- component -->
<div class="bg-white">
    <div class="flex justify-center min-h-screen">
      <div class="hidden bg-cover lg:block lg:w-2/3" style="background-image: url('../../../assets/img/fire.jpg'); background-position: center; background-attachment: fixed; background-size: cover;">
        <!-- background-image: url(https://images.unsplash.com/photo-1616763355603-9755a640a287?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) -->
        <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
            <div>
                <h2 class="text-4xl font-bold text-white">WhatTheBook</h2>

                <p class="max-w-xl mt-3 text-gray-300">La mejor tienda de libros y eBooks online del momento. Inicia sesión, crea una cuenta, o échale primero un vistazo al catálogo. ¡Encontrarás de todo!</p>

                <button [routerLink]="['/index']" routerLinkActive="router-link-active" class="relative mt-3 inline-flex items-center justify-center mb-2 mr-2 border-[2px] border-orange-400 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-transparent hover:text-white focus:ring-4 focus:outline-none focus:ring-orange-200">
                    <span class="relative uppercase text-gray-300 transition-all duration-100 ease group-hover:text-white px-5 py-2.5 transition-all ease-in duration-75 bg-gradient-to-br group-hover:from-orange-100 group-hover:to-orange-500 rounded-md group-hover:bg-opacity-0">
                        Ver catálogo
                    </span>
                    </button>
            </div>
        </div>
      </div>

        <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6 nav-distance py-8">
            <div class="flex-1">
                <div class="text-center">
                    <h2 class="text-4xl font-bold text-center text-gray-700">WhatTheBook</h2>

                    <p class="mt-3 text-orange-400">Regístrate para crear tu cuenta</p>
                </div>

                <div class="mt-3 form-feedback-container">
                    <!-- Div para mostrar mensaje de feedback -->
                    <div *ngIf="showWarn && !passwordInvalid" class="form-feedback text-center text-sm text-red-400 uppercase" [ngClass]="{'active': !formulario.valid}">
                        Por favor, rellene todos los campos requeridos.
                    </div>
                    <div *ngIf="passwordInvalid" class="form-feedback text-center text-sm text-red-400 uppercase" [ngClass]="{'active': formulario.valid}">
                        Las contraseñas no coinciden.
                    </div>
                </div>

                <div>
                    <form #formulario="ngForm" (ngSubmit)="register(formulario)">
                        <div>
                            <div class="flex justify-between mb-2">
                                <label for="username" class="text-sm text-gray-600">Usuario *</label>
                            </div>
                            <input autocomplete="off" ngModel required minlength="5" name="username" id="username" placeholder="Tu usuario" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <div *ngIf="formulario.controls['username']" [class.show-alert]="formulario.controls['username'].invalid && (formulario.controls['username'].dirty || formulario.controls['username'].touched)" class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">Mínimo 5 caracteres</div>
                        </div>

                        <div class="mt-3 grid grid-cols-1 md:grid-cols-2 md:gap-2">
                            <div>
                                <div class="flex justify-between mb-2">
                                    <label for="nombre" class="text-sm text-gray-600">Nombre *</label>
                                </div>
                                <input autocomplete="off" ngModel required name="nombre" id="nombre" placeholder="Tu nombre" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['nombre']" [class.show-alert]="formulario.controls['nombre'].invalid && (formulario.controls['nombre'].dirty || formulario.controls['nombre'].touched)" class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">No puede estar vacío</div>
                            </div>
                            <div>
                                <div class="flex justify-between mt-6 md:mt-0 mb-2">
                                    <label for="apellidos" class="text-sm text-gray-600">Apellidos *</label>
                                </div>
                                <input autocomplete="off" ngModel required name="apellidos" id="apellidos" placeholder="Tus apellidos" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['apellidos']" [class.show-alert]="formulario.controls['apellidos'].invalid && (formulario.controls['apellidos'].dirty || formulario.controls['apellidos'].touched)" class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">No puede estar vacío</div>
                            </div>
                        </div>

                        <div class="mt-3">
                            <label for="email" class="block mb-2 text-sm text-gray-600">Correo electrónico *</label>
                            <input type="email" (keyup)="checkEmail($event)" autocomplete="off" ngModel required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" id="email" name="email" placeholder="ejemplo@ejemplo.com" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <div *ngIf="formulario.controls['email']" [class.show-alert]="(formulario.controls['email'].invalid && (formulario.controls['email'].dirty || formulario.controls['email'].touched) || invalidEmail)" class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                              <ng-container *ngIf="!invalidEmail">Correo electrónico inválido</ng-container>
                              <ng-container *ngIf="invalidEmail">Este correo electrónico ya está vinculado con una cuenta existente</ng-container>
                            </div>
                        </div>

                        <div class="mt-3 grid grid-cols-1 md:grid-cols-2 md:gap-2">
                            <div>
                                <div class="flex justify-between mb-2">
                                    <label for="dni" class="text-sm text-gray-600">DNI *</label>
                                </div>
                                <input type="text" ngModel required pattern="^[0-9]{8}[A-Za-z]$" name="dni" id="dni" placeholder="Tu DNI" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['dni']" [class.show-alert]="formulario.controls['dni'].invalid && (formulario.controls['dni'].dirty || formulario.controls['dni'].touched)" class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">DNI inválido</div>
                            </div>
                            <div>
                                <div class="flex justify-between mt-6 md:mt-0 mb-2">
                                    <label for="fecha_nac" class="text-sm text-gray-600">Fecha de Nacimiento *</label>
                                </div>
                                <input autocomplete="off" ngModel required type="date" name="fecha_nac" id="fecha_nac" placeholder="" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['fecha_nac']" [class.show-alert]="formulario.controls['fecha_nac'].invalid && (formulario.controls['fecha_nac'].dirty || formulario.controls['fecha_nac'].touched)" class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">Selecciona una fecha</div>
                            </div>
                        </div>


                        <div class="mt-3">
                            <div class="flex justify-between mb-2">
                                <label for="password" class="text-sm text-gray-600">Contraseña *</label>
                            </div>
                            <input type="password" ngModel required pattern="^(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" name="password" id="password" placeholder="Tu contraseña" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <div *ngIf="formulario.controls['password']" [class.show-alert]="formulario.controls['password'].invalid && (formulario.controls['password'].dirty || formulario.controls['password'].touched)" class="text-sm text-red-500 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">Al menos 8 caracteres, una mayúscula y un número</div>
                        </div>

                        <div class="mt-3">
                            <div class="flex justify-between mb-2">
                                <label for="password2" class="text-sm text-gray-600">Repite la contraseña *</label>
                            </div>
                            <input type="password" ngModel required name="password2" id="password2" placeholder="Tu contraseña" class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <div *ngIf="formulario.controls['password2']" [class.show-alert]="formulario.controls['password2'].value !== formulario.controls['password'].value" class="text-sm text-red-500 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">Las contraseñas no coinciden</div>
                        </div>



                        <div class="mt-4">
                            <button
                                class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-orange-500 rounded-md hover:bg-orange-400 focus:outline-none focus:bg-orange-400 focus:ring focus:ring-orange-300 focus:ring-opacity-50">
                                Registrarme
                            </button>
                        </div>

                    </form>

                    <p class="mt-6 text-sm text-center text-gray-400">Ya tienes una cuenta? <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="text-orange-500 focus:outline-none focus:underline hover:underline">Inicia sesión</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
