<app-banner></app-banner>
<main class="main-wrapper relative">
  <section class="pb-10 hero grid items-center">
    <!-- component -->
    <div class="grid items-center dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700 h-full">
      <div class="container flex flex-col w-full h-full justify-evenly mx-auto px-6 md:px-16 xl:px-32">
        <div class="2xl:mb-5 text-center">
          <h2 class="mb-1 2xl:mb-4 text-center text-9xl drop-shadow-lg uppercase text-gray-900 dark:text-gray-50 font-light md:text-4xl hero-title">
            libros & EBOOKS para todo el mundo
          </h2>
          <p class="text-gray-600 dark:text-gray-400 lg:w-10/12 lg:mx-auto intro">
            —¿Alguien ha dicho libros? Ah... sí, esto es una tienda online de libros. —dijo el comerciante—.
            ¡Descubre historias nuevas, adéntrate en extensos mundos de fantasía o en romances inagotables,
            en tu Thriller preferido o en..., demasiados géneros. —parecía abrumado por la visita—. ¡Aquí encontrarás de todo!
          </p>
          <i class="fa-solid fa-chevron-down 2xl:mt-6 dark:text-gray-400"></i>
        </div>
        <div class="grid gap-12 xl:w-10/12 2xl:w-full mx-auto items-start md:grid-cols-4">
          <!-- Item 1 -->
          <div class="relative space-y-4 text-center" *ngFor="let l of librosHero">
            <div class="relative book hover:brightness-110 hover:drop-shadow-lg">
              <a href="/ver/{{l.id}}">
                <img class="w-64 h-64 md:w-40 md:h-40 lg:w-10/12 lg:h-full mx-auto object-cover cursor-pointer rounded-xl"
              src="../../../assets/img/{{l.portada}}" alt="woman" loading="lazy" />
              </a>
              <div class="price drop-shadow-md rounded-xl p-2 flex flex-col gap-1 transition absolute w-full h-auto opacity-0 lg:w-10/12 bottom-0 left-1/2 transform -translate-x-1/2 translate-y-2 bg-gradient-to-t from-[#FFFFFF] to-[#F9E6E0] z-index-20 text-center">
                <span *ngIf="l.tipo == 'tapadura'">Tapa dura</span>
                <div class="grid place-items-center grid-cols-2 mx-2 border-t border-gray-400">
                  <span class="text-gray-900 font-thin line-through decoration-1 text-xs">
                    {{l.precio}} €</span>
                  <span class="text-orange-500 font-black">{{l.oferta}} €</span>
                </div>
                <app-cesta-button></app-cesta-button>
              </div>
            </div>
            <div>
              <h4 class="text-2xl text-gray-900 dark:text-gray-50 uppercase">{{l.titulo}}</h4>
              <span class="text-xs 2xl:text-sm text-gray-600 dark:text-gray-50 uppercase">({{l.saga}})</span>
              <span class="block text-sm text-orange-500 capitalize">{{l.autor}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Half screen section -->
  <app-poesia></app-poesia>

  <section class="w-full min-h-screen nav-margin my-20 pt-0">
    <h2 class="text-center title w-full">Descubre autores impresionantes...</h2>

    <article class="container max-w-screen-lg flex flex-col gap-5 mx-auto px-6 md:px-20 xl:px-32 pt-10">
      <div class="author flex flex-col gap-5">
        <div class="flex items-center gap-3">
          <hr class="w-10 bg-orange-900 border border-orange-500 " />
          <h3 class="md:text-[18px] font-medium text-orange-500 ">
            Brandon Sanderson
          </h3>
        </div>
        <p class="text-gray-600/90">Adéntrate en el mundo de la fantasía moderna con Brandon Sanderson y sus sagas como “El Archivo de las Tormentas” o “Nacidos de la Bruma”,
          ambas situadas en el aclamado universo “Cosmere” creado por Brandon.
        </p>
      </div>

      <div class="grid gap-12 items-start md:grid-cols-4">
        <!-- Item 1 -->
        <div class="relative space-y-4 text-center">
          <div class="relative book hover:brightness-110 hover:drop-shadow-lg">
            <img class="w-64 h-64 mx-auto object-cover transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/AleacionDeLey.jpg" alt="Carátula Aleación de Ley" loading="lazy" width="1000" height="667" />
            <div class="price drop-shadow-md rounded-md p-2 flex flex-col gap-1 transition absolute w-full h-auto opacity-0 bottom-0 left-1/2 transform -translate-x-1/2 translate-y-2 bg-gradient-to-t from-[#FFFFFF] to-[#F9E6E0] z-index-20 text-center">
              <span>Tapa dura</span>
              <div class="grid place-items-center grid-cols-2 mx-2 border-t border-gray-400">
                <span class="text-gray-900 font-thin line-through decoration-1 text-xs">
                  20.9 €</span>
                <span class="text-orange-500 font-black">19.85 €</span>
              </div>
              <app-cesta-button></app-cesta-button>
            </div>
          </div>
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">ALEACIÓN DE LEY</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(NACIDOS DE LA BRUMA IV)</span>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="relative space-y-4 text-center">
          <div class="relative book hover:brightness-110 hover:drop-shadow-lg">
            <img class="w-64 h-64 mx-auto object-cover transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/EsquirlaDelAmanecer.jpg" alt="Carátula Esquirla Del Amanecer" loading="lazy" width="1000" height="667" />
            <div class="price drop-shadow-md rounded-md p-2 flex flex-col gap-1 transition absolute w-full h-auto opacity-0 bottom-0 left-1/2 transform -translate-x-1/2 translate-y-2 bg-gradient-to-t from-[#FFFFFF] to-[#F9E6E0] z-index-20 text-center">
              <span>Tapa dura</span>
              <div class="grid place-items-center grid-cols-2 mx-2 border-t border-gray-400">
                <span class="text-gray-900 font-thin line-through decoration-1 text-xs">
                  20.9 €</span>
                <span class="text-orange-500 font-black">19.85 €</span>
              </div>
              <app-cesta-button></app-cesta-button>
            </div>
          </div>
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">ESQUIRLA<br> DEL AMANECER</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(COSMERE)</span>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="relative space-y-4 text-center">
          <div class="relative book hover:brightness-110 hover:drop-shadow-lg">
            <img class="w-64 h-64 mx-auto object-cover transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/RitmoDeLaGuerra.jpeg" alt="Caratula El Ritmo De La Guerra" loading="lazy" width="1000" height="667" />
            <div class="price drop-shadow-md rounded-md p-2 flex flex-col gap-1 transition absolute w-full h-auto opacity-0 bottom-0 left-1/2 transform -translate-x-1/2 translate-y-2 bg-gradient-to-t from-[#FFFFFF] to-[#F9E6E0] z-index-20 text-center">
              <span>Tapa dura</span>
              <div class="grid place-items-center grid-cols-2 mx-2 border-t border-gray-400">
                <span class="text-gray-900 font-thin line-through decoration-1 text-xs">
                  20.9 €</span>
                <span class="text-orange-500 font-black">19.85 €</span>
              </div>
              <app-cesta-button></app-cesta-button>
            </div>
          </div>
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">EL RITMO DE LA GUERRA</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(EL ARCHIVO DE LAS TORMENTAS IV)</span>
          </div>
        </div>

        <!-- Item 4 -->
        <div class="relative space-y-4 text-center">
          <div class="relative book hover:brightness-110 hover:drop-shadow-lg">
            <img class="w-64 h-64 mx-auto object-cover transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/Trenza.jpg" alt="Carátula Trenza Del Mar Esmeralda" loading="lazy" width="1000" height="667" />
            <div class="price drop-shadow-md rounded-md p-2 flex flex-col gap-1 transition absolute w-full h-auto opacity-0 bottom-0 left-1/2 transform -translate-x-1/2 translate-y-2 bg-gradient-to-t from-[#FFFFFF] to-[#F9E6E0] z-index-20 text-center">
              <span>Tapa dura</span>
              <div class="grid place-items-center grid-cols-2 mx-2 border-t border-gray-400">
                <span class="text-gray-900 font-thin line-through decoration-1 text-xs">
                  20.9 €</span>
                <span class="text-orange-500 font-black">19.85 €</span>
              </div>
              <app-cesta-button></app-cesta-button>
            </div>
          </div>
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">TRENZA DEL MAR ESMERALDA</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(COSMERE)</span>
          </div>
        </div>
      </div>
    </article>

    <!-- Divisor -->
    <div class="container max-w-screen-lg flex flex-col gap-5 mx-auto px-6 md:px-20 xl:px-32 pt-10">
      <hr class="dashed opacity-20">
    </div>

    <article class="container max-w-screen-lg flex flex-col gap-5 mx-auto px-6 md:px-20 xl:px-32 pt-10">
      <div class="author flex flex-col gap-5">
        <div class="flex items-center gap-3">
          <hr class="w-10 bg-orange-900 border border-orange-500" />
          <h3 class="md:text-[18px] font-medium text-orange-500 ">
            Robert Jordan
          </h3>
        </div>
        <p class="text-gray-600/90">James Oliver Rigney, Jr, más
          conocido por su seudónimo de Robert Jordan, es un escritor de novela fantástica mundialmente conocido por ser el autor de la saga épica
          La Rueda del Tiempo, compuesta por un total de catorce libros y una precuela en su edición original.
        </p>
      </div>
      <div class="grid gap-12 items-start md:grid-cols-4">
        <!-- Item 1 -->
        <div class="relative space-y-4 text-center">
          <div class="relative book hover:brightness-110 hover:drop-shadow-lg">
            <img class="w-64 h-64 mx-auto object-cover transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/Rueda01.jpg" alt="Carátula El Ojo Del Mundo" loading="lazy" width="1000" height="667" />
            <div class="price drop-shadow-md rounded-md p-2 flex flex-col gap-1 transition absolute w-full h-auto opacity-0 bottom-0 left-1/2 transform -translate-x-1/2 translate-y-2 bg-gradient-to-t from-[#FFFFFF] to-[#F9E6E0] z-index-20 text-center">
              <span>Tapa dura</span>
              <div class="grid place-items-center grid-cols-2 mx-2 border-t border-gray-400">
                <span class="text-gray-900 font-thin line-through decoration-1 text-xs">
                  20.9 €</span>
                <span class="text-orange-500 font-black">19.85 €</span>
              </div>
              <app-cesta-button></app-cesta-button>
            </div>
          </div>
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">EL OJO DEL MUNDO</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(LA RUEDA DEL TIEMPO 1)</span>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="relative space-y-4 text-center">
          <div class="relative book hover:brightness-110 hover:drop-shadow-lg">
            <img class="w-64 h-64 mx-auto object-cover transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/Rueda02.jpg" alt="Carátula La Gran Cacería" loading="lazy" width="1000" height="667" />
            <div class="price drop-shadow-md rounded-md p-2 flex flex-col gap-1 transition absolute w-full h-auto opacity-0 bottom-0 left-1/2 transform -translate-x-1/2 translate-y-2 bg-gradient-to-t from-[#FFFFFF] to-[#F9E6E0] z-index-20 text-center">
              <span>Tapa dura</span>
              <div class="grid place-items-center grid-cols-2 mx-2 border-t border-gray-400">
                <span class="text-gray-900 font-thin line-through decoration-1 text-xs">
                  20.9 €</span>
                <span class="text-orange-500 font-black">19.85 €</span>
              </div>
              <app-cesta-button></app-cesta-button>
            </div>
          </div>
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">LA GRAN CACERÍA</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(LA RUEDA DEL TIEMPO 2)</span>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="relative space-y-4 text-center">
          <div class="relative book hover:brightness-110 hover:drop-shadow-lg">
            <img class="w-64 h-64 mx-auto object-cover transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/Rueda03.jpg" alt="Caratula El Dragón Renacido" loading="lazy" width="1000" height="667" />
            <div class="price drop-shadow-md rounded-md p-2 flex flex-col gap-1 transition absolute w-full h-auto opacity-0 bottom-0 left-1/2 transform -translate-x-1/2 translate-y-2 bg-gradient-to-t from-[#FFFFFF] to-[#F9E6E0] z-index-20 text-center">
              <span>Tapa dura</span>
              <div class="grid place-items-center grid-cols-2 mx-2 border-t border-gray-400">
                <span class="text-gray-900 font-thin line-through decoration-1 text-xs">
                  20.9 €</span>
                <span class="text-orange-500 font-black">19.85 €</span>
              </div>
              <app-cesta-button></app-cesta-button>
            </div>
          </div>
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">EL DRAGÓN RENACIDO</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(LA RUEDA DEL TIEMPO 3)</span>
          </div>
        </div>

        <!-- Item 4 -->
        <div class="relative space-y-4 text-center">
          <div class="relative book hover:brightness-110 hover:drop-shadow-lg">
            <img class="w-64 h-64 mx-auto object-cover transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/Rueda04.jpg" alt="Carátula El Ascenso De La Sombra" loading="lazy" width="1000" height="667" />
            <div class="price drop-shadow-md rounded-md p-2 flex flex-col gap-1 transition absolute w-full h-auto opacity-0 bottom-0 left-1/2 transform -translate-x-1/2 translate-y-2 bg-gradient-to-t from-[#FFFFFF] to-[#F9E6E0] z-index-20 text-center">
              <span>Tapa dura</span>
              <div class="grid place-items-center grid-cols-2 mx-2 border-t border-gray-400">
                <span class="text-gray-900 font-thin line-through decoration-1 text-xs">
                  20.9 €</span>
                <span class="text-orange-500 font-black">19.85 €</span>
              </div>
              <app-cesta-button></app-cesta-button>
            </div>
          </div>
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">EL ASCENSO DE LA SOMBRA</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(LA RUEDA DEL TIEMPO 4)</span>
          </div>
        </div>
      </div>
    </article>

    <div class="flex justify-center gap-4 mt-10">
      <a [routerLink]="['/autores']"><button
          class="font-medium text-[16px] flex items-center px-5 py-3 md:py-4 md:px-8 rounded-xl bg-gradient-to-r from-orange-300 to-orange-500 hover:from-pink-500 hover:to-yellow-500  relative gap-2 transition duration-300 hover:scale-105 text-white shadow-glass ">
          Descubrir más
          <span
              class="animate-ping absolute right-0 top-0 w-3 h-3  rounded-full bg-gradient-to-r from-orange -400 to-orange-700 "></span>
      </button></a>
    </div>
  </section>

  <!-- Half screen section -->
  <app-e-books></app-e-books>

  <section class="w-full min-h-screen nav-margin my-20 pt-0">
    <h2 class="text-center title w-full">Descubre autores impresionantes...</h2>

    <article class="container max-w-screen-lg flex flex-col gap-5 mx-auto px-6 md:px-12 xl:px-32 pt-10">
      <div class="author flex flex-col gap-5">
        <div class="flex items-center gap-3">
          <hr class="w-10 bg-orange-900 border border-orange-500 " />
          <h3 class="md:text-[18px] font-medium text-orange-500 ">
            Brandon Sanderson
          </h3>
        </div>
        <p class="text-gray-600/90">Adéntrate en el mundo de la fantasía moderna con Brandon Sanderson y sus sagas como “El Archivo de las Tormentas” o “Nacidos de la Bruma”,
          ambas situadas en el aclamado universo “Cosmere” creado por Brandon.
        </p>
      </div>
      <div class="grid gap-12 items-start md:grid-cols-4">
        <div class="space-y-4 text-center">
          <img class="w-64 h-64 mx-auto object-cover hover:brightness-110 transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-10/12 lg:h-full"
            src="../../../assets/img/AleacionDeLey.jpg" alt="Carátula Aleación de Ley" loading="lazy" width="1000" height="667" />
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">LA RUEDA DEL TIEMPO I</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(NACIDOS DE LA BRUMA IV)</span>
          </div>
        </div>

        <div class="space-y-4 text-center">
          <img class="w-64 h-64 mx-auto object-cover hover:brightness-110 transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/EsquirlaDelAmanecer.jpg" alt="Carátula Esquirla Del Amanecer" loading="lazy" width="1000" height="667" />
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">ESQUIRLA<br> DEL AMANECER</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(COSMERE)</span>
          </div>
        </div>

        <div class="space-y-4 text-center">
          <img class="w-64 h-64 mx-auto object-cover hover:brightness-110 transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/RitmoDeLaGuerra.jpeg" alt="Caratula El Ritmo De La Guerra" loading="lazy" width="1000" height="667" />
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">EL RITMO DE LA GUERRA</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(EL ARCHIVO DE LAS TORMENTAS IV)</span>
          </div>
        </div>

        <div class="space-y-4 text-center">
          <img class="w-64 h-64 mx-auto object-cover hover:brightness-110 transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/Trenza.jpg" alt="Carátula Trenza Del Mar Esmeralda" loading="lazy" width="1000" height="667" />
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">TRENZA DEL MAR ESMERALDA</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(COSMERE)</span>
          </div>
        </div>
      </div>
    </article>

    <!-- Divisor -->
    <div class="container max-w-screen-lg flex flex-col gap-5 mx-auto px-6 md:px-12 xl:px-32 pt-10">
      <hr class="dashed opacity-20">
    </div>

    <article class="container max-w-screen-lg flex flex-col gap-5 mx-auto px-6 md:px-12 xl:px-32 pt-10">
      <div class="author flex flex-col gap-5">
        <div class="flex items-center gap-3">
          <hr class="w-10 bg-orange-900 border border-orange-500" />
          <h3 class="md:text-[18px] font-medium text-orange-500 ">
            Robert Jordan
          </h3>
        </div>
        <p class="text-gray-600/90">James Oliver Rigney, Jr, más
          conocido por su seudónimo de Robert Jordan, es un escritor de novela fantástica mundialmente conocido por ser el autor de la saga épica
          La Rueda del Tiempo, compuesta por un total de catorce libros y una precuela en su edición original.
        </p>
      </div>
      <div class="grid gap-12 items-start md:grid-cols-4">
        <div class="space-y-4 text-center">
          <img class="w-64 h-64 mx-auto object-cover hover:brightness-110 transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/Rueda01.jpg" alt="Carátula El Ojo Del Mundo" loading="lazy" width="1000" height="667" />
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">EL OJO DEL MUNDO</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(LA RUEDA DEL TIEMPO 1)</span>
          </div>
        </div>

        <div class="space-y-4 text-center">
          <img class="w-64 h-64 mx-auto object-cover hover:brightness-110 transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/Rueda02.jpg" alt="Carátula La Gran Cacería" loading="lazy" width="1000" height="667" />
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">LA GRAN CACERÍA</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(LA RUEDA DEL TIEMPO 2)</span>
          </div>
        </div>

        <div class="space-y-4 text-center">
          <img class="w-64 h-64 mx-auto object-cover hover:brightness-110 transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/Rueda03.jpg" alt="Caratula El Dragón Renacido" loading="lazy" width="1000" height="667" />
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">EL DRAGÓN RENACIDO</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(LA RUEDA DEL TIEMPO 3)</span>
          </div>
        </div>

        <div class="space-y-4 text-center">
          <img class="w-64 h-64 mx-auto object-cover hover:brightness-110 transition-all duration-200 cursor-pointer rounded-md md:w-40 md:h-40 lg:w-64 lg:h-full"
            src="../../../assets/img/Rueda04.jpg" alt="Carátula El Ascenso De La Sombra" loading="lazy" width="1000" height="667" />
          <div>
            <h4 class="text-2xl text-gray-900 dark:text-gray-50">EL ASCENSO DE LA SOMBRA</h4>
            <span class="text-sm text-gray-600 dark:text-gray-50">(LA RUEDA DEL TIEMPO 4)</span>
          </div>
        </div>
      </div>
    </article>

    <div class="flex justify-center gap-4 mt-10">
      <button
          class="font-medium text-[16px] flex items-center px-5 py-3 md:py-4 md:px-8 rounded-xl bg-gradient-to-r from-orange-300 to-orange-500 hover:from-pink-500 hover:to-yellow-500  relative gap-2 transition duration-300 hover:scale-105 text-white shadow-glass ">
          Descubrir más
          <span
              class="animate-ping absolute right-0 top-0 w-3 h-3  rounded-full bg-gradient-to-r from-orange -400 to-orange-700 "></span>
      </button>
    </div>
  </section>
</main>
