.hero-title {
  font-size: 5vw;
  line-height: 5vw;
}

.title {
  font-size: 4vw;
}

.intro {
  /* font-size: .9vw; */
}

main {
  padding-top: 10vh;
}

.book:hover > .price {
  opacity: 100;
  transform: translate(-50%, 0);
}

.hero {
  max-height: 90vh;
}

@media only screen and (max-width: 1200px) {
  .hero {
    max-height: none;
  }
}
