.intro {
  /* font-size: .9vw; */
}

main {
  padding-top: 10vh;
}

.search-bg {
  background-image: url('../../../assets/img/bibe.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.services-bg {
  background-image: url('../../../assets/img/search.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.book:hover > .price {
  opacity: 100;
  transform: translate(-50%, 0);
}

.hero {
  max-height: 90vh;
}

.carousel-author {
  margin: 0 40px;
}

@media only screen and (max-width: 1200px) {
  .hero {
    max-height: none;
  }
}

