<div
    class="h-full ml-14 mt-14 dash-container border-b border-gray-300 rounded-bl-md pb-4 md:ml-64 bg-gradient-to-b from-[#FFFFFF] to-[#F9E6E0]">

    <div class="grid grid-cols-1 lg:grid-cols-1 p-4 gap-8">
        <!-- Social Traffic -->
        <div class="relative flex flex-col min-w-0 lg:mb-0 break-words bg-gray-50 py-6 w-full shadow-lg rounded">
            <div class="rounded-t mb-0 px-0 border-0">
                <div class="flex flex-wrap items-center px-8 py-2">
                    <div class="relative w-full max-w-full flex-grow flex-1">
                        <h3 class="font-semibold text-xl text-gray-900 uppercase">Datos</h3>
                    </div>
                </div>
                <div class="block w-full overflow-x-auto p-8 pt-2">
                    <form #formulario="ngForm" (ngSubmit)="edit(formulario)">
                        <div class="mt-3 grid grid-cols-1 md:grid-cols-2 md:gap-2">
                            <div>
                                <div class="flex justify-between mb-2">
                                    <label for="titulo" class="text-sm text-gray-600">Título</label>
                                </div>
                                <input autocomplete="off" [(ngModel)]="titulo" required name="titulo" id="titulo"
                                    placeholder="Título"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['titulo']"
                                    [class.show-alert]="formulario.controls['titulo'].invalid && (formulario.controls['titulo'].dirty || formulario.controls['titulo'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    No puede estar vacío</div>
                            </div>
                            <div>
                                <div class="flex justify-between mt-6 md:mt-0 mb-2">
                                    <label for="autor" class="text-sm text-gray-600">Autor</label>
                                </div>
                                <input autocomplete="off" [(ngModel)]="autor" required name="autor" id="autor"
                                    placeholder="Autor"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['autor']"
                                    [class.show-alert]="formulario.controls['autor'].invalid && (formulario.controls['autor'].dirty || formulario.controls['autor'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    No puede estar vacío</div>
                            </div>
                        </div>

                        <div class="mt-3 grid grid-cols-1 md:grid-cols-2 md:gap-2">
                            <div>
                                <div class="flex justify-between mb-2">
                                    <label for="saga" class="text-sm text-gray-600">Saga</label>
                                </div>
                                <input autocomplete="off" [(ngModel)]="saga" required name="saga" id="saga" type="text"
                                    placeholder="Saga"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['saga']"
                                    [class.show-alert]="formulario.controls['saga'].invalid && (formulario.controls['saga'].dirty || formulario.controls['saga'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    No puede estar vacío</div>
                            </div>
                            <div>
                                <div class="flex justify-between mt-6 md:mt-0 mb-2">
                                    <label for="ISBN" class="text-sm text-gray-600">ISBN</label>
                                </div>
                                <input autocomplete="off" [(ngModel)]="ISBN" required name="ISBN" id="ISBN" type="text"
                                    placeholder="ISBN"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['ISBN']"
                                    [class.show-alert]="formulario.controls['ISBN'].invalid && (formulario.controls['ISBN'].dirty || formulario.controls['ISBN'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    No puede estar vacío</div>
                            </div>
                        </div>

                        <div class="mt-3 grid grid-cols-1 md:grid-cols-2 md:gap-2">
                            <div>
                                <div class="flex justify-between mb-2">
                                    <label for="descripcion" class="text-sm text-gray-600">Descripción</label>
                                </div>
                                <textarea autocomplete="off" [(ngModel)]="descripcion" required name="descripcion" id="descripcion"
                                    placeholder="Descripción"
                                    class="block w-full px-4 h-44 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40">
                                </textarea>
                                <div *ngIf="formulario.controls['descripcion']"
                                    [class.show-alert]="formulario.controls['descripcion'].invalid && (formulario.controls['descripcion'].dirty || formulario.controls['descripcion'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    No puede estar vacío</div>
                            </div>
                            <div>
                                <div class="flex justify-between mb-2">
                                    <label for="sinopsis" class="text-sm text-gray-600">Sinopsis</label>
                                </div>
                                <textarea autocomplete="off" [(ngModel)]="sinopsis" required name="sinopsis" id="sinopsis"
                                    placeholder="Sinopsis"
                                    class="block w-full px-4 h-44 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40">
                                </textarea>
                                <div *ngIf="formulario.controls['sinopsis']"
                                    [class.show-alert]="formulario.controls['sinopsis'].invalid && (formulario.controls['sinopsis'].dirty || formulario.controls['sinopsis'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    No puede estar vacío</div>
                            </div>
                        </div>

                        <div class="mt-3 grid grid-cols-1 md:grid-cols-3 md:gap-2">
                            <div>
                                <div class="flex justify-between mb-2">
                                    <label for="tipo" class="text-sm text-gray-600">Tipo</label>
                                </div>
                                <select multiple [(ngModel)]="tipo" required name="tipo" id="tipo"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40">
                                    <option value="tapadura" [selected]="tipo.includes('tapadura')">Tapa dura</option>
                                    <option value="tapablanda" [selected]="tipo.includes('tapablanda')">Tapa blanda</option>
                                    <option value="ebook" [selected]="tipo.includes('ebook')">eBook</option>
                                </select>
                                <div *ngIf="formulario.controls['tipo']"
                                    [class.show-alert]="formulario.controls['tipo'].invalid && (formulario.controls['tipo'].dirty || formulario.controls['tipo'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    Selecciona al menos un tipo</div>
                            </div>
                            <div>
                                <div class="flex justify-between mt-6 md:mt-0 mb-2">
                                    <label for="precio" class="text-sm text-gray-600">Precio (€)</label>
                                </div>
                                <input autocomplete="off" [(ngModel)]="precio" required type="text" name="precio" id="precio" pattern="^\d+(\.\d{1,2})?$"
                                    placeholder="Precio"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['precio']"
                                    [class.show-alert]="formulario.controls['precio'].invalid && (formulario.controls['precio'].dirty || formulario.controls['precio'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    Sólo valores numéricos y '.' para introducir hasta dos decimales</div>
                            </div>
                            <div>
                                <div class="flex justify-between mt-6 md:mt-0 mb-2">
                                    <label for="oferta" class="text-sm text-gray-600">Oferta (€)</label>
                                </div>
                                <input autocomplete="off" [(ngModel)]="oferta" required type="text" name="oferta" id="oferta"
                                    placeholder="Oferta"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['oferta']"
                                    [class.show-alert]="formulario.controls['oferta'].invalid && (formulario.controls['oferta'].dirty || formulario.controls['oferta'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    Introduce una oferta</div>
                            </div>
                        </div>

                        <div class="mt-3 grid grid-cols-1 md:grid-cols-3 md:gap-2">
                            <div>
                                <div class="flex justify-between mb-2">
                                    <label for="fecha_publi" class="text-sm text-gray-600">Fecha de publicación</label>
                                </div>
                                <input autocomplete="off" [(ngModel)]="fecha_publi" required name="fecha_publi" id="fecha_publi" type="date"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['fecha_publi']"
                                    [class.show-alert]="formulario.controls['fecha_publi'].invalid && (formulario.controls['fecha_publi'].dirty || formulario.controls['fecha_publi'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    No puede estar vacío</div>
                            </div>
                            <div>
                                <div class="flex justify-between mb-2">
                                    <label for="id_genero" class="text-sm text-gray-600">Género</label>
                                </div>
                                <select autocomplete="off" [(ngModel)]="id_genero" required name="id_genero" id="id_genero" type="text"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40">
                                    <option value="{{g.id}}" [selected]="id_genero === g.id" *ngFor="let g of generos">{{g.titulo}}</option>
                                </select>
                                <div *ngIf="formulario.controls['id_genero']"
                                    [class.show-alert]="formulario.controls['id_genero'].invalid && (formulario.controls['id_genero'].dirty || formulario.controls['id_genero'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    No puede estar vacío</div>
                            </div>
                            <div>
                                <div class="flex justify-between mb-2">
                                    <label for="id_editorial" class="text-sm text-gray-600">Editorial</label>
                                </div>
                                <select autocomplete="off" [(ngModel)]="id_editorial" required name="id_editorial" id="id_editorial" type="text"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40">
                                    <option value="{{e.id}}" [selected]="id_editorial === e.id" *ngFor="let e of editoriales">{{e.titulo}}</option>
                                </select>
                                <div *ngIf="formulario.controls['id_editorial']"
                                    [class.show-alert]="formulario.controls['id_editorial'].invalid && (formulario.controls['id_editorial'].dirty || formulario.controls['id_editorial'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    No puede estar vacío</div>
                            </div>
                        </div>

                        <div class="mt-3 grid grid-cols-1 md:grid-cols-3 md:gap-2">
                            <div>
                                <div class="flex justify-between mb-2">
                                    <label for="rating" class="text-sm text-gray-600">Rating</label>
                                </div>
                                <input autocomplete="off" [(ngModel)]="rating" name="rating" id="rating" type="text" pattern="^\d+(\.\d)?$"
                                    placeholder="{{rating}}"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['rating']"
                                    [class.show-alert]="formulario.controls['rating'].invalid && (formulario.controls['rating'].dirty || formulario.controls['rating'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    Sólo valores numéricos y '.' para introducir hasta un decimal</div>
                            </div>
                            <div>
                                <div class="flex justify-between mb-2">
                                    <label for="stock" class="text-sm text-gray-600">Stock</label>
                                </div>
                                <input autocomplete="off" [(ngModel)]="stock" required name="stock" id="stock" type="number"
                                    placeholder="{{stock}}"
                                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md focus:border-orange-400 focus:ring-orange-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                                <div *ngIf="formulario.controls['stock']"
                                    [class.show-alert]="formulario.controls['stock'].invalid && (formulario.controls['stock'].dirty || formulario.controls['stock'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    No puede estar vacío</div>
                            </div>
                            <div>
                                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="portada">Upload file</label>
                                <input (change)="updatePortada($event)" class="block transition-all duration-300 ease w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer focus:outline-none"
                                 id="portada" name="portada" required type="file">

                                <div *ngIf="formulario.controls['portada']"
                                    [class.show-alert]="formulario.controls['portada'].invalid && (formulario.controls['portada'].dirty || formulario.controls['portada'].touched)"
                                    class="text-sm text-red-400 opacity-0 translate-y-100 transition-all duration-300 ease-in-out">
                                    Debes seleccionar una portada</div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <button type="submit"
                                class="w-full px-4 py-2 tracking-wide text-white transform bg-gradient-to-r from-orange-300 to-orange-500 hover:from-orange-500 hover:to-yellow-500 hover:shadow-xl cursor-pointer rounded-md transition-all duration-300 focus:outline-none focus:bg-orange-400 focus:ring focus:ring-orange-300 focus:ring-opacity-50">
                                Crear libro
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- ./Social Traffic -->
    </div>
</div>
