input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

main {
  min-height: 100vh;
  overflow-x: unset;
}

.pay-card {
  top: 7.5rem;
  overflow-x: unset !important;
}

.pay-card-con {
  overflow-x: unset !important;
}

.main {
  padding-top: 10vh;
}
