/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'OptimaTL_Regular';
}

h1, h2, h3, h4 {
  font-family: 'OptimaTL_Light';
}

h4, p, span {
  /* font-family: 'PerpetuaTiltingMT_Regular'; */
}

@font-face {
  font-family: 'OptimaTL_Regular';
  src: url(./assets/fonts/OptimaTLPro/OptimaNovaLTProRegular.otf);
}

@font-face {
  font-family: 'OptimaTL_Light';
  src: url(./assets/fonts/OptimaTLPro/OptimaNovaLTProLight.otf);
}

@font-face {
  font-family: 'PerpetuaTiltingMT_Regular';
  src: url(./assets/fonts/PerpetuaTiltingMT/PERTILI.TTF);
}

/* shared styles */
.hero {
  min-height: 92vh;
}

.nav-margin {
  top: 10vh;
}

main {
  padding-top: 10vh;
}


.dashed {
  border: none;
  height: 1px;
  background: #000;
  background: repeating-linear-gradient(90deg,#000,#000 6px,transparent 6px,transparent 12px);
}
