/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'OptimaTL_Regular';
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar { width: 14px; background-color: transparent; }
::-webkit-scrollbar-thumb { background-color: #ffa43c; }

::-moz-scrollbar { width: 14px; background-color: transparent; }
::-moz-scrollbar-thumb { background-color: #ffa43c; }

::-ms-scrollbar { width: 14px; background-color: transparent; }
::-ms-scrollbar-thumb { background-color: #ffa43c; }

* {
  -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden;
  image-rendering: optimizeQuality;
}

h1, h2, h3, h4 {
  font-family: 'OptimaTL_Light';
}

h4, p, span {
  /* font-family: 'PerpetuaTiltingMT_Regular'; */
}

@font-face {
  font-family: 'OptimaTL_Regular';
  src: url(./assets/fonts/OptimaTLPro/OptimaNovaLTProRegular.otf);
}

@font-face {
  font-family: 'OptimaTL_Light';
  src: url(./assets/fonts/OptimaTLPro/OptimaNovaLTProLight.otf);
}

@font-face {
  font-family: 'PerpetuaTiltingMT_Regular';
  src: url(./assets/fonts/PerpetuaTiltingMT/PERTILI.TTF);
}

/* shared styles */
.hero {
  min-height: 92vh;
}

.nav-margin {
  top: 10vh;
}

main {
  padding-top: 10vh;
  width: 100%;
  overflow-x: hidden;
}

.breadcumb {
  top: 10vh;
  height: 5vh;
  z-index: 50;
}


.dashed {
  border: none;
  height: 1px;
  background: #000;
  background: repeating-linear-gradient(90deg,#000,#000 6px,transparent 6px,transparent 12px);
}

@media only screen and (max-width: 750px) {
  .book:hover > .price {
    opacity: 0 !important;
    transform: translate(0, 0) !important;
  }
}
